.navbar {
  height: 10vh;
  width: 100%;
  background-color: #ffff;
  display: flex;
  flex: 1;
  z-index: 3;
  justify-content: space-between;
  padding-right: 3vw;
  padding-left: 3vw;
  overflow-x: hidden;
  align-items: center;
  position: relative;
  /* transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); */
}
.left {
  display: flex;
  flex: 3;
}

.blanja-logo {
  width: 90%;
  height: 6vh;
}
.blanja {
  color: #db3022;
  font-size: 2em;
  font-weight: bold;
  margin-left: 0.7vw;
  margin-bottom: -5px;
}
.form {
  display: none;
  align-items: center;
  width: 70%;
}
.inputCont {
    display: flex;
    justify-content: space-between;
  padding: 0.5vw 1.5vw;
  border: 1px solid #8e8e93;
  border-radius: 23px;
  width: 35vw;
  margin-right: 1vw;
  margin-left: 3vw;
}
.input-search {
  border: none;
  outline: none;
  width: 80%;
}
.filter {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8e93;
  border-radius: 10px;
}
.humberger-menu {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  outline: none;
}
.humberger-menu:focus{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    outline: none;
  }
.humberger {
  width: 20px;
  margin-left: 1vw;
}

.right {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}
.operation-btn-nav {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-evenly;
}
.operation-btn-nav-auth {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: flex-end;

}
.trolly{
  display: flex;
}
.badge-mybag{
  background: #DB3022;
  border-radius: 50%;
  width: 19px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  position: absolute;
  margin-top: -8px;
  margin-left: 1vw;
  color: white;
  padding: 10px;
}


.btn-auth{
  display: none;
  background-color: red;
}
.navbar-icon {
  width: 22px;
  height: 16px;
  margin: 0 6px;
}
.btn-login {
  color: #ffff;
  width: 7vw;
  background-color: #db3022;
  border-radius: 20px;
  font-size: 1rem;
}
.btn-login:hover {
  color: #ffff;
}
.btn-signup {
  width: 7vw;
  border: 1px solid #9b9b9b;
  border-radius: 20px;
  color: #9b9b9b;
}
.user-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.modal-filter .modal-header, .modal-filter .modal-footer{
  border: none;
}


/* responsive */

@media screen and (min-width: 1100px) {
  .humberger-menu {
    display: none;
  }
  .humberger-menu {
    display: none;
  }
  .form {
    display: flex;
  }
  .right{
      margin-right: 0;
  }
  .navbar-icon{
      margin: 0;
      width: 25px;
      height: 20px;
  }
  .btn-auth{
    display: contents;
  }
  .operation-btn-nav-auth {
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-evenly;
  
  }

}
@media screen and (min-width: 768px) {
    .navbar{
        padding: 0 9vw;
    }
  .input-search {
    border: none;
    outline: none;
    width: 90%;
  }
}
