body {
  margin: 0;
  font-family: metropolis, serif;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'metropolis';
  src: local('metropolis'), url(./assets//fonts//metropolis.regular.otf) format('truetype');
}
